.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.card {
    img, svg {
        max-width: 7rem;
        aspect-ratio: 1;
        margin-inline: auto;
    }
    .card-text {
        max-width: 27ch;
        &[data-width="large"] {
            max-width: 35ch;
        }
    }
}