@use '../abstracts' as *;

@media only screen and (max-width: 50em) { 
    .mobile-nav-toggle {
        display: block;
    }

    .primary-header.active {
        position: relative;
        .primary-navigation {
            display: block;
        }
    }

    .primary-navigation {
        display: none;
        z-index: 1;
        position: absolute;
        inset: calc(100% + var(--size-200)) 0 auto 0;
        background-color: var(--clr-neutral-200);
        border-radius: var(--size-400);
    }

    .nav-list:first-child {
        display: grid;
        margin: var(--size-200)
    }

    .nav-item {
        width: 100%;
        justify-content: space-between;
    }

    [data-dropdown-menu] {
        position: relative;
        border-radius: 0 0 1rem 1rem;
    }
}


@media only screen and (min-width: 50em) {
    :root {
        @each $screen-size, $property in $type-scale {
            @if $screen-size == medium {
    
                @each $prop, $value in $property {
                    --fs-#{$prop}: #{$value};
                }
            }
        }
    }

    /* Base Styles */
    h1{
        max-width: 18ch;
    }

    p:not([class]) {
        max-width: 42ch;
    }

    .nav-wrapper {
        justify-content: center;
    }

    .sun-decoration {
        max-width: 8rem;
    }

    .mission {
        img {
            max-width: 15rem;
        }
        .line-decal {
            position: relative;
            display: inline;
            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 7rem;
                height: 0.13rem;
                background-color: var(--clr-primary-300);
                display: block;
                top: var(--fs-400);
            }
            &::before {
                left: -8rem;
            }
            &::after {
                right: -8rem;
            }
        }
    }

    .half-sun-decal::before,
    .half-sun-decal::after {
        position: absolute;
        content: "";
        background-repeat: no-repeat;
        background-size: contain;
        height: 8rem;
        width: 100%;
        z-index: 1;
    }

    .half-sun-decal::before {
        background-image: url(../assets/leftHalfSun.svg);
        background-position: left top;
        top: 0;
        left: 0;
    }


    .half-sun-decal::after {
        background-image: url(../assets/rightHalfSun.svg);
        background-position: right bottom;
        bottom: -4rem;
        right: 0;
    }

    .primary-footer-wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .form-social-donate {
        flex-direction: row;
    }

    /* utility classes */
    .flex-container {
        flex-direction: row;
        justify-content: space-evenly;
        &[data-reverse="column"] {
                flex-direction: row;
            }
        &[data-reverse="row"] {
            flex-direction: row-reverse;
            .img-container {
                justify-content: flex-start;
            }
        }
        &.center {
            justify-content: center;
        }
    }
}

@media only screen and (min-width: 62em) {
    :root {
        @each $screen-size, $property in $type-scale {
            @if $screen-size == large {
    
                @each $prop, $value in $property {
                    --fs-#{$prop}: #{$value};
                }
            }
        }
    }

    .nav-wrapper {
        justify-content: space-between;
    }

    .half-sun-decal::before,
    .half-sun-decal::after {
        height: 10rem;
    }

    .social-donate {
        flex-direction: row;
    }
}
