@use '../abstracts' as *;

@media only screen and (max-width: 50em) { 
    .primary-navigation {
        display: none;
    }
}

@media only screen and (min-width: 50em) {
    :root {
        @each $screen-size, $property in $type-scale {
            @if $screen-size == medium {
    
                @each $prop, $value in $property {
                    --fs-#{$prop}: #{$value};
                }
            }
        }
    }

    .nav-wrapper {
        justify-content: center;
    }

    /* utility classes */
    .flex-container {
        flex-direction: row;
        gap: 2rem;
        justify-content: space-between;
        &.center {
            justify-content: center;
        }
    }
}

@media only screen and (min-width: 65em) {
    :root {
        @each $screen-size, $property in $type-scale {
            @if $screen-size == large {
    
                @each $prop, $value in $property {
                    --fs-#{$prop}: #{$value};
                }
            }
        }
    }

    .nav-wrapper {
        justify-content: space-between;
    }
}
