/* general styling */
body {
    font-size: var(--fs-body);
    font-family: var(--ff-body);
    font-weight: var(--fw-extra-light);
    color: var(--clr-primary-300);
    background-image: url(../assets/sunBackground.svg);
    background-size: 18rem;
    background-position: center;
}

section {
    position: relative;
}

p {
    max-width: 70ch;
    strong {
        font-weight: var(--fw-medium);
    }
}