@use '../abstracts' as *;

:root {
  @each $color, $shades in $colors {
      @each $shade, $value in $shades {
          --clr-#{$color}-#{$shade}: #{$value};
      }
  }

  @each $property, $value in $font-weight {
    --fw-#{$property}: #{$value};
  }

  @each $screen-size, $property in $type-scale {
    @if $screen-size == small {
        @each $prop, $value in $property {
            --fs-#{$prop}: #{$value};
        }
    } 
  }

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-teritary-heading: var(--fs-600);
}