.flex-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    &[data-reverse="column"] {
        flex-direction: column-reverse;
    }
    &.center {
            align-items: center;
        }
    &[data-reverse="row"] {
        .img-container {
            justify-content: flex-start;
        }
    }
    .img-container {
        display: flex;
        justify-content: flex-end;
        max-width: 25rem;
        border-radius: 100vmax;
        
    }
}