.padding-block-700 {
    padding-block: var(--size-700);
}

.padding-block-large-top {
    padding-block: calc(var(--size-700) + 4rem) var(--size-700);
}

.padding-block-large-bottom {
    padding-block: var(--size-700) calc(var(--size-700) + 4rem);
}
