@use '../abstracts' as *;

/* Utiliy classes for font-weight */
@each $property, $value in $font-weight {
    .fw-#{$property}{
        font-weight: var(--fw-#{$property});
    }
  }


/* Utiliy classes for font-size */
.fs-body {
    font-size: var(--fs-body);
}

.fs-primary-heading {
    font-size: var(--fs-primary-heading);
    line-height: 1.1;
}

.fs-secondary-heading {
    font-size: var(--fs-secondary-heading);
    line-height: 1.1;
}

.fs-teritary-heading {
    font-size: var(--fs-teritary-heading);
    line-height: 1.1;
}

  @each $screen-size, $property in $type-scale {
      @if $screen-size ==small {
          @each $prop, $value in $property {
            .fs-#{$prop} {
                font-size: var(--fs-#{$prop});
            }
          }
      }
  }
