$colors: (
    primary: (
        100: #23916C,
        200: #FFDE23,
        300: #2064AE,

    ),
    accent:(
        100: #FFF099,
        200: #A9CBEF,
    ),     
    neutral:(
        100: #FFF7CC,
        200: #FFFDF5,
    )
);

